{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                  <img src="https://www.w3schools.com/w3images/hamburger.jpg">
                  <span class="card-title black-text text-darken-3">Burger</span>
                </div>
                <div class="card-content">
                  <p>A burger is a sandwich consisting of one or more cooked patties of ground meat,
                      usually beef, placed inside a sliced bread roll or bun. The patty may be pan fried, grilled,
                      or flame broiled. A hamburger topped with cheese is called a cheeseburger.</p>
                </div>
                <div class="card-action">
                   <div class="row">
                    <form class="col s12" action="." method="post">
                        {% csrf_token %}
                        <h6>Rs.100</h6>
                        {{ discount_field.as_p }}
                         <button class="col s4 btn waves-effect waves-light blue lighten-2" style="margin-top: 1.5vw, margin-left: 5px" id="submit-code" type="submit" name="action">Apply Code
                          </button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>
<script>
    var alertTrigger = {{ alert_window }}

    if ({{ alert_window }} && !{{ max_used }}  && {{ code_exist }}) {
        Swal.fire({
          type: 'success',
          title: 'Congratulation',
          text: 'You ' + {{ discount_percent }} + '% discount'
        })
    }else if({{ max_used }}){
        Swal.fire({
          type: 'error',
          title: 'Oops...',
          text: 'Sorry, code already used max times'
        })
    }else if(!{{ code_exist }}) {
        Swal.fire({
          type: 'error',
          title: 'Oops...',
          text: 'Sorry, code does not exist'
        })
    }
</script>
{% endblock %}